*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

.externalToolBuilders/
*.launch
.cproject


.buildpath

build/

.settings/
.classpath
.project
WebContent/META-INF/
WebContent/WEB-INF/
src/META-INF/
login.properties